<header>
  <app-nav-bar></app-nav-bar>
  <h1>X barber</h1>
  <h2>Cortes clássicos e modernos com excelência.</h2>
</header>
<main>
  <article>
    <p class="first-paragraph">
      <strong>A experiência que você merece!</strong><br />
      Na xBarber, combinamos tradição e modernidade para oferecer cortes de
      cabelo e barba com qualidade, estilo e personalidade. Nosso espaço foi
      pensado para proporcion
    </p>

    <section>
      <img
        class="photo1"
        src="../../../assets/images/barbershop-styling-hair.jpg"
        alt=""
      />
      <div>
        <h1 class="title1">O que oferecemos aos nossos Clientes</h1>
        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/lamina.png"
              alt=""
            />
            <h1>Barba Tradicional</h1>
            <p>Alinhada com técnica, garantindo um visual impecável.</p>
          </div>
          <h2 class="price">$ 40</h2>
        </span>

        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/maquina.png"
              alt=""
            />
            <h1>Degradê Premium</h1>
            <p>
              Transições suaves e bem definidas para um look moderno e
              impecável.
            </p>
          </div>
          <h2 class="price">$ 50</h2>
        </span>

        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/tesoura.png"
              alt=""
            />
            <h1>Corte Clássico</h1>
            <p>
              Um corte atemporal, perfeito para qualquer ocasião. Feito com
              precisão e estilo.
            </p>
          </div>
          <h2 class="price">$ 40</h2>
        </span>
      </div>
    </section>
  </article>

  <article class="container-presentation">
    <div>
      <h1>Nossos barbeiros são especialistas em estilo e qualidade.</h1>
      <p>
        Valorizamos a excelência em cada serviço, desde um simples acabamento
        até uma transformação completa. Nosso compromisso é com a sua
        satisfação, oferecendo um ambiente acolhedor, produtos de alta qualidade
        e profissionais apaixonados pelo que fazem. Aqui, seu estilo é tratado
        com o respeito e a dedicação que merece.
      </p>
    </div>

    <div>
      <img
        class="presentation-img presentation-img1"
        src="../../../assets/images/client-hairdresser-posing-selfie.jpg"
        alt=""
      />
      <img
        class="presentation-img presentation-img2"
        src="../../../assets/images/man-mirror-barbershop.jpg"
        alt=""
      />
    </div>
  </article>

  <article class="service-presentation">
    <div>
      <h1>
        Descubra o corte e a barba perfeitos para realçar sua personalidade.
      </h1>
      <p>
        Utilizamos técnicas avançadas de visagismo para criar um estilo que
        combina com o formato do seu rosto, realça seus traços e reflete sua
        identidade. Com profissionais experientes e um atendimento de alto
        nível, garantimos um visual impecável e personalizado para você.
      </p>
      <img
        class="service-presentation-img1"
        src="../../../assets/images/pexels-jibarofoto-1453005.jpg"
        alt="Barbeiro cortando o cabelo do cliente"
      />
    </div>
    <img
      class="service-presentation-img2"
      src="../../../assets/images/man-barbershop-salon-doing-haircut-beard-trim.jpg"
      alt=""
    />
  </article>
</main>

<footer-app></footer-app>
