<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
  <article>
    <img src="../../../assets/images/barbershop-styling-hair.jpg" alt="" />

    <section>
      <h1 class="title1">O que oferecemos aos nossos Clientes</h1>
      <div>
        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/lamina.png"
              alt=""
            />
            <h1>lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
            </p>
          </div>
          <h2 class="price">$ 40</h2>
        </span>

        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/maquina.png"
              alt=""
            />
            <h1>lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              esse architecto natus temp
            </p>
          </div>
          <h2 class="price">$ 40</h2>
        </span>

        <span class="card-service">
          <div>
            <img
              class="service-icons"
              src="../../../assets/icons/tesoura.png"
              alt=""
            />
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <h2 class="price">$ 40</h2>
        </span>
      </div>
    </section>
  </article>
</main>

<app-footer></app-footer>
