<footer>
  <ul>
    <li><strong>Links</strong></li>
    <li>Home</li>
    <li>Sobre</li>
    <li>Serviços</li>
    <li>Agendar</li>
    <li>Galeria</li>
    <li>Depoimentos</li>
    <li>Promoções</li>
    <li>Contato</li>
  </ul>

  <ul>
    <li><strong>Links</strong></li>
    <li>Sobre</li>
    <li>Serviços</li>
    <li>Contato</li>
    <li>Política de Privacidade</li>
    <li>Termos e Condições</li>
    <li>Redes Sociais</li>
    <li>Blog/Notícias</li>
    <li>FAQ</li>
  </ul>

  <ul>
    <li><strong>Links</strong></li>

    <li>Sobre</li>
    <li>Serviços</li>
    <li>Contato</li>
    <li>Política de Privacidade</li>
    <li>Termos e Condições</li>
    <li>Redes Sociais</li>
    <li>Blog/Notícias</li>
    <li>FAQ</li>
  </ul>
</footer>
<!-- Sobre: Link para a página "Sobre" para que os clientes conheçam a barbearia, missão e valores.

Serviços: Link direto para a página de serviços para fácil acesso aos clientes.
Agendar: Um link direto para a área de agendamento.

Contato: Link para a página de contato com informações como telefone, e-mail e endereço.

Política de Privacidade: Informações sobre como os dados dos clientes são coletados e usados.

Termos e Condições: Detalhamento das regras para utilização dos serviços e agendamentos.

Redes Sociais: Ícones clicáveis para suas redes sociais (Instagram, Facebook, etc.).
Localização: Link para o mapa com a localização da barbearia.

Blog/Notícias: Caso você tenha um blog ou seção de notícias, um link para esta área.

FAQ: Respostas para as perguntas mais frequentes dos clientes. -->
