footer {
  display: flex;
  justify-content: space-around;
  background-color: #121109;
  color: #afa495;
  padding: 10px;
}

footer ul {
  list-style: none;
  box-sizing: border-box;
}

footer ul strong {
  color: white;
}

footer ul li {
  padding: 5px;
}
