<div id="top">
  <img
    class="menu-visibility"
    src="../../../assets/icons/menu.png"
    alt="ícone de menu"
    (click)="menuvisibility()"
  />
</div>

<nav class="visibility" [class.active]="menuToggle">
  <a href="">Home</a>
  <a href="">Sobre</a>
  <a href="">Serviços</a>
  <a href="">Agendar</a>
  <a href="">Galeria</a>
  <a href="">Depoimentos</a>
  <a href="">Promoções</a>
  <a href="">Contato</a>
  <a href="">Localização</a>
  <a href="">Redes Sociais</a>
</nav>

<div class="arrow" [class.arrow_upward]="top">
  <a href="#top"
    ><img src="../../../assets/icons/arrow_up.png" alt="Voltar ao topo"
  /></a>
</div>
